@model Web.Models.NavBarModel

<nav>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>
            @if (Model.IsLoggedIn)
            {
                @Html.ActionLink("Feel free to enter", "Index", "Secure")
            }
            else
            {
                @Html.ActionLink("Don't click!", "Index", "Secure")
            }
        </li>
    </ul>
    <ul>
        @if (Model.IsLoggedIn)
        {
            <li>@Html.ActionLink("Logout", "Logout", "Authentication")</li>
        }
        else
        {
            <li>@Html.ActionLink("Passwordless Sign in", "PasswordlessSignIn", "Authentication")</li>
            <li>@Html.ActionLink("Passwordless Sign up", "PasswordlessSignUp", "Authentication")</li>
            <li>@Html.ActionLink("Sign in", "SignIn", "Authentication")</li>
            <li>@Html.ActionLink("Sign up", "SignUp", "Authentication")</li>
        }
    </ul>
</nav>
